/build
/dist
/bazel-*
/out
/test_data/coco
/test_data/imagenet
/test_data/open_image_v4_subset
/test_data/oxford_17flowers
/test_data/17flowers.tgz
/test_data/ILSVRC2012_img_val.tar
/test_data/caffe_ilsvrc12.tar.gz
/test_data/val2017.zip
/test_data/annotations_trainval2017.zip
/edgetpu/swig/edgetpu_cpp_wrapper.py
/edgetpu/swig/*.so
__pycache__
*.egg-info
*.tar.gz
.DS_Store
