/.env
/.downloads
/build
/dist
/bazel-*
/out
/test_data/coco
/test_data/open_image_v4_subset
/test_data/oxford_17flowers
/edgetpu/swig/edgetpu_cpp_wrapper.py
/edgetpu/swig/*.so
/edgetpu/swig/*.pyd
/edgetpu/swig/*.dll
__pycache__
*.egg-info
*.tar.gz
.DS_Store
