Source: edgetpu
Maintainer: Coral <coral-support@google.com>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://coral.ai/

Package: edgetpu-examples
Architecture: all
Depends: python3-edgetpu (= ${binary:Version}),
         ${misc:Depends},
         ${python3:Depends}
Description: Example code for Edge TPU Python API
 Python examples to demonstrate how to use Edge TPU Python API

Package: python3-edgetpu
Architecture: any
Depends: libc6,
         libedgetpu1-legacy-std (= ${binary:Version}) | libedgetpu1-legacy (= ${binary:Version}),
         libgcc1,
         libstdc++6,
         python3-numpy,
         python3-pil,
         ${misc:Depends},
         ${python3:Depends}
Description: Edge TPU Python API
 Python library for interfacing with the Edge TPU on the Coral Edge TPU Dev
 Board

Package: libedgetpu1-legacy-std
Provides: libedgetpu1-legacy (= ${binary:Version})
Conflicts: libedgetpu1-legacy, libedgetpu1
Section: misc
Priority: optional
Architecture: any
Multi-Arch: same
Depends: libc6,
         libgcc1,
         libstdc++6,
         libusb-1.0-0,
         ${misc:Depends}
Description: Support library for Edge TPU
 Support library (standard speed) for the Edge TPU

Package: libedgetpu1-legacy-max
Provides: libedgetpu1-legacy (= ${binary:Version})
Conflicts: libedgetpu1-legacy, libedgetpu1
Section: misc
Priority: optional
Architecture: any
Multi-Arch: same
Depends: libc6,
         libgcc1,
         libstdc++6,
         libusb-1.0-0,
         ${misc:Depends}
Description: Support library for Edge TPU
 Support library (max speed) for the Edge TPU

Package:libedgetpu-legacy-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libedgetpu1-legacy-std (= ${binary:Version}) | libedgetpu1-legacy (= ${binary:Version}),
         ${misc:Depends}
Description: Development files for libedgetpu
 This package contains C++ Header files for libedgetpu.so